* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial,sans-serif;
    background: #f1f8e9;
    display:flex;
    justify-content:center ;
    align-items:center;
    height: 100vh;
}
.login-container{
    background: white;
    padding:50px;
    max-width:90%;
    width: 500px;
    border-radius:10px;
    text-align:center;
    box-shadow: 0 4px 10px rgb(0,0,0,0.1);
}
.login-container h1{
    color:#2e7d32;
    margin-bottom:10px;
    font-size:32px
}
.login-container input{
    width:100%;
    padding:14px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius: 6px;
}button {
    width:350px;
    padding:14px;
    background: #66bb6a;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
    max-width: 90%;
    margin:0 auto;
}
button:hover{
    background: #4caf50;;
}
.register-link{
    margin-top:10px;
    font-size: 14px;
}
.logo {
    text-decoration: none;
    color: #2e7d32;
}
.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
}

.form-grid input:nth-child(9),
.form-grid input:nth-child(10) {
    grid-column: span 2;
}
@media (max-width: 600px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}.password-box {
    position: relative;
}

.password-box input {
    width: 100%;
    padding: 12px;
    padding-right: 40px; /* space for eye */
    border-radius: 6px;
    border: 1px solid #ccc;
}

.eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}